<footer class="text-center  footer--container">
    <div class="container pt-4">
      <section class="mb-4">
        If you liked this project start 🌟 it on 
        <a
          data-mdb-ripple-init
          class=""
          href="https://github.com/aswin2108/Songify"
          role="button"
          target="_blank"
          data-mdb-ripple-color="dark"
          ><img src="../../../assets/github.svg" width="25px" class="gitHubSVG m-2">
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(49, 48, 48, 0.05);">
        <img width="25px" src="../../../assets/songifyLogo.png">
      Songify the music library 
    </div>
  </footer>