@keyframes changeHeight {
    0% {height: 30px}
    10% {height: 30px}
    50% {height: 400px}
    60% {height: 400px}
    100% {height: 30px}
}
.footer--container{
//   left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(27, 26, 26);
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 22.5vh;
//   animation: changeHeight 10s infinite linear;

}
.fixed-footer {
    position: fixed;
    bottom: 0;
  }
  .gitHubSVG{
    fill: white;
  }