.logo{
    width: 20%;
    height: fit-content;
}
.logoTitle{
    color: white;
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.mat-mdc-form-field{
    width: 37vw !important;
  }