.deleteAllPopUp{
    width: 350px;
    height: fit-content;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: 2px solid #ffc107;

    .deleteAllPopUp__TitleUncut{
        color: #ffc107;
    }
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10%;
}