<div class="confirmPopUp" data-bs-theme="dark">
    <div class="d-flex justify-content-center">
        <h3 class="alertPopUp__TitleUncut d-flex">Confirm to Proceed!</h3>
    </div>
    <div>
        <h5 class="text-center">This process cant be undone. Are you sure you want to delete the selected songs?</h5>
    </div>
    <div class="btn-container">
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="proceedDelete()">Proceed</button>
    </div>

</div>